<div class="ibox">
    <div class="ibox-content p-md">
        <h2>
        	<span class="text-navy">{$_GLOBALS.module|upper}</span>
        	<small class="pull-right">{$_GLOBALS.account.name}</small>
        </h2>

	<form class="form-horizontal" role="form" action="" method="post">
		<select name="filter[month]" placeholder="Month">
			<option value=""> - MONTH - </option>
			{for $i=1 to 12}
			<option value="{$i}" {if $filter.month eq $i}selected="selected"{/if}>{"1970/$i/01"|date_format:"%B"}</option>
			{/for}
		</select>
		<select name="filter[year]" >
			<option value=""> - YEAR - </option>
			{for $i=2015 to $smarty.now|date_format:"%Y"+1}
			<option value="{$i}" {if $filter.year eq $i}selected="selected"{/if}>{$i}</option>
			{/for}
		</select>
		<input type="submit" class="btn btn-success btn-xs" value="GO" />

			<button type="button" class="btn btn-success btn-w-m add pull-right" data-toggle="modal" data-target="#form-modal"><i class="fa fa-plus"></i>&nbsp;Add</button>		
	</form>        
	<hr />

{if $data}
   <table class="table table-hover {if $data|count gt 50}dtable{/if}" >
		<thead>
		<tr>
			<th>Date</th>
			<th>Particulars</th>
			<th>Description</th>
			<th>DR</th>
			<th>CR</th>
			<th>Comments</th>
			<th width="60px;">Actions</th>
		</tr>
		</thead>
		<tbody>
		{foreach from=$data item=item}
		<tr>
			<td>{$item.date}</td>
			<td>{$item.particulars}</td>
			<td>{$item.description}</td>
			<td>{$item.dr|number_format:"2":".":","}</td>
			<td>{$item.cr|number_format:"2":".":","}</td>
			<td>{$item.comments}</td>
			<td>	
				<a href="javascript:;" class="btn btn-xs btn-primary edit" data-id="{$item.id_acct_aje}"><i class="fa fa-pencil"></i></a>
				<a href="javascript:;" class="btn btn-danger btn-xs delete" title="Delete" data-id="{$item.id_acct_aje}" data-label="{$item.name}" data-action="delete"><i class="fa fa-trash"></i></a>
			</td>
		</tr>					
		{/foreach}
		</tbody>
		<tfoot>
		<tr>
			<th>TOTAL</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>{$total.dr|number_format:"2":".":","}</th>
			<th>{$total.cr|number_format:"2":".":","}</th>
			<th>&nbsp;</th>
			<th width="60px;">&nbsp;</th>
		</tr>			
		</tfoot>
	</table> 
	
	{else}
	<p>Nothing to show.</p>
	{/if}

    </div>
</div>


<div class="modal inmodal" id="form-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content animated bounceInRight">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"><span id="modal-action">ADD</span>  {$_GLOBALS.module|upper}</h4>
				
			</div>
			<div class="modal-body">
				<form role="form">	
					<div class="form-group">
						<input type="hidden" name="data[id_acct_aje]" value="0" id="form-id" />
						<input type="text" name="data[date]" placeholder="Date (yyyy-mm-dd)" class="form-control datepicker" required  />
					</div>
					<div class="form-group">
						<input type="text" name="data[particulars]" placeholder="Particulars" class="form-control" required  />
					</div>
					<div class="form-group">
						<input type="text" name="data[description]" placeholder="Description" class="form-control" required  />
					</div>
					
					<div class="form-group">
						<input type="text" name="data[dr]" placeholder="DR" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[cr]" placeholder="CR" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[comments]" placeholder="Comments" class="form-control"  />
					</div>					
				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary save">Save changes</button>
			</div>
		</div>
	</div>
</div>