{if $edit eq 1}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title ibox-{$_method}"><h5>Edit Account</h5></div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" name="data[id_user]" value="{$data.id_user}" />
                        <label class="col-sm-2 control-label">Email Address</label>
                        <div class="col-sm-10"><input type="text" name="data[email]" class="form-control" placeholder="Email" value="{$data.email}"></div>
                    </div>                 
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">{$data.username}</div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10"><input type="text" name="data[first_name]" class="form-control" placeholder="First Name" value="{$data.first_name}"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Middle Name</label>
                        <div class="col-sm-10"><input type="text" name="data[middle_name]" class="form-control" placeholder="Middle Name" value="{$data.middle_name}" maxlength="50" /></div>
                    </div>  
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10"><input type="text" name="data[last_name]" class="form-control" placeholder="Last Name" value="{$data.last_name}"  maxlength="50" /></div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Affiliation</label>
                        <div class="col-sm-10"><input type="text" name="data[affiliation]" class="form-control" placeholder="Affiliation" value="{$data.affiliation}"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Expertise</label>
                        <div class="col-sm-10"><input type="text" name="data[expertise]" class="form-control" placeholder="Expertise" value="{$data.expertise}"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Contact Number</label>
                        <div class="col-sm-10"><input type="text" name="data[contact_number]" class="form-control" placeholder="Contact Number" value="{$data.contact_number}" maxlength="30" /></div>
                    </div>                 
                    {include file="{$_theme}/include.form.footer.html"}
                </form>
            </div>
        </div>
    </div>
</div>

{else}

    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$data.first_name} {$data.last_name}</h5>
                    <div class="ibox-tools">
<a href="{$_base}users/account/edit" class="btn btn-primary btn-xs" title="Edit"><i class="fa fa-pencil"></i></a>                        
                    </div>                    
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        
                    </div>
                    <div class="ibox-content profile-content">

                        <h4><strong><a href="mailto:{$data.email}" title="{$data.email}" target="_blank">{$data.email}</a></strong></h4>
                        {if $data.address}<p><i class="fa fa-map-marker"></i>{$data.address}</p>{/if}
                        <h5>
                            {$data.username}
                        </h5>
						{if $_su.id_user eq $data.id_user}
						<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change-password-modal">Change Password</button></p>
						{/if}

                    {if $data.affiliation}<div class="hr-line-dashed"></div>
                    <p><b>Affiliation</b> : {$data.affiliation}</p>{/if}
                    {if $data.expertise}<div class="hr-line-dashed"></div>
                    <p><b>Expertise</b> : {$data.expertise}</p>{/if}
                    {if $data.contact_number}<div class="hr-line-dashed"></div>
                    <p><b>Contact Number</b> : {$data.contact_number}</p>{/if}                    
				   </div>
            </div>
        </div>
            </div>
        <div class="col-md-8">
        	{if $_su.id_user_group eq 2}
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Projects</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                       
                    </div>
                </div>
                <div class="ibox-content">

{if $projects}
	   <table class="table table-hover dtable" >
			<thead>
			<tr>
				<th >Name</th>
				<th style="width:50%;">Description</th>
				<th style="width:100px;">Role</th>
			</tr>
			</thead>
			<tbody>
			{foreach from=$projects item=item}
			<tr>
				<td>
					<a href="{$_base}projects/view/{$item.id_project}">{$item.name}</a>
					<br/>
					<small>Created {$item.date_add|date_format:"%m.%d.%Y"}</small>
				</td>
				
				<td>{$item.description|truncate:"200"}</td>
				<td >
					{if $item.id_project_role eq 1}ADMINISTRATOR
					{elseif $item.id_project_role eq 2}RESEARCHER
					{elseif $item.id_project_role eq 3}RESEARCH<br/>ASSISTANT
					{/if}
				</td>
			</tr>					
			{/foreach}
			</tbody>
		</table>
		{else}
		<p>Nothing to show.</p>
		{/if}
		
	</div>

                </div>
                {/if}
            </div>

        </div>


<div class="modal inmodal" id="change-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content animated bounceInRight">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<i class="fa fa-unlock-alt modal-icon"></i>
		<h4 class="modal-title">Change Password</h4>
	</div>
	<div class="modal-body">
		<form role="form" id="change_pass_form">	
			<div class="form-group">
				<label>Current Password *</label>
				<input id="password" name="old_pwd" type="password" class="form-control required" maxlength="50">
				<input type="hidden" name="id_user" value="{$data.id_user}" class="form-control required" maxlength="50">
			</div>
			<div class="form-group">
				<label>New Password *</label>
				<input name="new_pwd" type="password" class="form-control required" maxlength="50">
			</div>					
			<div class="form-group">
				<label>Confirm New Password *</label>
				<input id="confirm" name="passconf" type="password" class="form-control required" maxlength="50">
			</div>
		</form>
	</div>
	<div class="modal-footer" id="change_pass_footer">
		<div class="sk-spinner sk-spinner-three-bounce" style="display:none;">
			<div class="sk-bounce1"></div>
			<div class="sk-bounce2"></div>
			<div class="sk-bounce3"></div>
		</div>
		<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary change-pwd-button">Save changes</button>
	</div>
</div>
</div>
</div>
{/if}