<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title ibox-{$_method}"><h5>{$_method|ucfirst} User</h5></div>
			<div class="ibox-content">
				<form method="post" class="form-horizontal" enctype="multipart/form-data">
					<div class="form-group">
						<label class="col-sm-2 control-label">Email Address</label>
						<div class="col-sm-10"><input type="text" name="data[email]" class="form-control" placeholder="Email" value="{$data.email}"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">User Group</label>
						<div class="col-sm-10">
							<select name="data[id_user_group]" class="form-control" required>	
								<option value=""></option>
								<option value="1" {if $data.id_user_group eq 1}selected="selected"{/if}>Administrator</option>
								<option value="2" {if $data.id_user_group eq 2}selected="selected"{/if}>Registered User</option>								
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Status</label>
						<div class="col-sm-10">
							<select name="data[status]" class="form-control" required>	
								<option value=""></option>
								<option value="1" {if $data.status eq 1}selected="selected"{/if}>Active</option>
								<option value="3" {if $data.status eq 3}selected="selected"{/if}>Inactive</option>								
							</select>
						</div>
					</div>						
					<div class="form-group">
						<label class="col-sm-2 control-label">Username</label>
						<div class="col-sm-10"><input type="text" name="data[username]" class="form-control" placeholder="Username" value="{$data.username}" maxlength="30" ></div>
					</div>
					{if $_method eq 'add'}
					<div class="form-group">
						<label class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10"><input type="password" name="data[password]" class="form-control" value="{$data.password}"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Confirm Password</label>
						<div class="col-sm-10"><input type="password" name="passconf" class="form-control"></div>
					</div>
					{else}
					<div class="form-group">
						<label class="col-sm-2 control-label">&nbsp;</label>
						<input type="hidden" name="data[id_user]" value="{$data.id_user}" />
						<div class="col-sm-10"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change-password-modal">Change Password</button></div>
					</div>
					
					
					{/if}

					<div class="hr-line-dashed"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label">First Name</label>
						<div class="col-sm-10"><input type="text" name="data[first_name]" class="form-control" placeholder="First Name" value="{$data.first_name}"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Middle Name</label>
						<div class="col-sm-10"><input type="text" name="data[middle_name]" class="form-control" placeholder="Middle Name" value="{$data.middle_name}" maxlength="50" /></div>
					</div>					
					<div class="form-group">
						<label class="col-sm-2 control-label">Last Name</label>
						<div class="col-sm-10"><input type="text" name="data[last_name]" class="form-control" placeholder="Last Name" value="{$data.last_name}" maxlength="50" /></div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Affiliation</label>
						<div class="col-sm-10"><input type="text" name="data[affiliation]" class="form-control" placeholder="Affiliation" value="{$data.affiliation}"></div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Expertise</label>
						<div class="col-sm-10"><input type="text" name="data[expertise]" class="form-control" placeholder="Expertise" value="{$data.expertise}"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Contact Number</label>
						<div class="col-sm-10"><input type="text" name="data[contact_number]" class="form-control" placeholder="Contact Number" value="{$data.contact_number}" maxlength="30" /></div>
					</div>	
					{include file="templates/include.form.footer.html"}
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal inmodal" id="change-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content animated bounceInRight">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<i class="fa fa-unlock-alt modal-icon"></i>
				<h4 class="modal-title">Change Password</h4>
			</div>
			<div class="modal-body">
				<form role="form" id="change_pass_form">	
					<div class="form-group">
						<label>Current Password *</label>
						<input id="password" name="old_pwd" type="password" class="form-control required" maxlength="50">
						<input type="hidden" name="id_user" value="{$data.id_user}" class="form-control required" maxlength="50">
					</div>
					<div class="form-group">
						<label>New Password *</label>
						<input name="new_pwd" type="password" class="form-control required" maxlength="50">
					</div>					
					<div class="form-group">
						<label>Confirm New Password *</label>
						<input id="confirm" name="passconf" type="password" class="form-control required" maxlength="50">
					</div>
				</form>
			</div>
			<div class="modal-footer" id="change_pass_footer">
				<div class="sk-spinner sk-spinner-three-bounce" style="display:none;">
					<div class="sk-bounce1"></div>
					<div class="sk-bounce2"></div>
					<div class="sk-bounce3"></div>
				</div>
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary change-pwd-button">Save changes</button>
			</div>
		</div>
	</div>
</div>