<div class="ibox">
    <div class="ibox-content p-md">
        <h2>
        	<span class="text-navy">{$user.first_name} {$user.last_name}</span>
	<button type="button" class="btn btn-success btn-w-m add pull-right" data-toggle="modal" data-target="#form-modal"><i class="fa fa-plus"></i>&nbsp;Add Client Account</button>
		</h2>
	<hr />

{if $data}
   <table class="table table-hover {if $data|count gt 50}dtable{/if}" >
		<thead>
		<tr>
			<th>Username</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th width="50px;">Actions</th>
		</tr>
		</thead>
		<tbody>
		{foreach from=$data item=item}
		<tr>
			<td><a href="{$_base}users/view/{$item.id_user}" target="_blank">{$item.username}</a></td>
			<td>{$item.first_name}</td>
			<td>{$item.last_name}</td>
			<td>
				<a href="javascript:;" class="btn btn-danger btn-xs delete" title="Delete" data-id="{$item.id_client_user}" data-label="{$item.first_name} {$item.last_name}" data-action="delete-account"><i class="fa fa-remove"></i></a>
			</td>
		</tr>
		{/foreach}
		</tbody>
	</table> 
	
	{else}
	<p>Nothing to show.</p>
	{/if}

    </div>
</div>


<div class="modal inmodal" id="form-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content animated bounceInRight">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

				<h4 class="modal-title"><span id="modal-action">ADD</span> ACCOUNT</h4>
				
			</div>
			<div class="modal-body">
				<form role="form" method="POST">
					<div class="form-group">
						<input type="hidden" name="data[id_user_account]" value="{$user.id_user_account}" />
						<span>{$user.first_name} {$user.last_name}</span>
					</div>
					<div class="form-group">
						<select name="data[id_client_account]" class="form-control" required placeholder="Client Account">
							<option value="">- Select Client Account -</option>
							{foreach from=$ddl_clients item=item}
							<option value="{$item.id_client_acct}">{$item.business_trade_name}</option>
							{/foreach}
						</select>
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary save" data-action="add-account">Save changes</button>
			</div>
		</div>
	</div>
</div>