<div class="row">
	<div class="col-lg-12">
	
		<div class="panel panel-info">
			<div class="panel-heading">
			Users
			{if $filter.id_user_group}
			&nbsp;<i class="fa fa-angle-right"></i>&nbsp;{if $filter.id_user_group eq 1}Administrators{elseif $filter.id_user_group eq 2}Registered Users{/if}
			{/if}

					<form role="form" method="post" action="" class="pull-right">
						<select name="filter[status]" onchange="this.form.submit();">
							<option value=""></option>
							{foreach from=$ddl_status item=item key=key}
							<option value="{$key}" {if $key eq $filter.status}selected="selected"{/if}>{$item}</option>
							{/foreach}
							
						</select>
					</form>			
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-2">
						<a href="{$_base}{$_module}/add" class="btn btn-success btn-w-m"><i class="fa fa-plus"></i>&nbsp;Add User</a>
					</div>
				<div class="col-sm-10">

					<div class="pull-right">
						<a href="{$_base}{$_module}/index/admin" class="btn btn-warning btn-xs btn-w-m">Adminisrators</a>
						<a href="{$_base}{$_module}/index/registered" class="btn btn-primary btn-xs btn-w-m">Registered Users</a>
					</div>
				</div>
				</div>

			<div class="hr-line-dashed"></div>
				{if $data}
			   <table class="table table-hover dtable" >
					<thead>
					<tr>
						<th>Username</th>
						<th>Email Address</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>User Group</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
					{foreach from=$data item=item}
					<tr>
						<td><a href="{$_base}{$_module}/view/{$item.id_user}">{$item.username}</a></td>
						<td>{$item.email}</td>
						<td>{$item.first_name}</td>
						<td>{$item.last_name}</td>
						<td>{if $item.id_user_group eq 1}Admin{else}User{/if}</td>
						<td>
							
							<a href="{$_base}{$_module}/view/{$item.id_user}" class="btn btn-warning btn-xs" title="View"><i class="fa fa-search"></i></a>
							<a href="{$_base}{$_module}/edit/{$item.id_user}" class="btn btn-primary btn-xs" title="Edit"><i class="fa fa-pencil"></i></a>
							<a href="javascript:;" class="btn btn-danger btn-xs delete" title="Delete" data-id="{$item.id_user}" data-label="{$item.username}"><i class="fa fa-trash"></i></a>

							{if $item.status eq 5}
							<a href="javascript:;" class="btn btn-info btn-xs resend" title="Resend Confirmation Email" data-email="{$item.email}" data-id="{$item.id_user}" data-label="{$item.username}"><i class="fa fa-mail-forward"></i></a>							
							{else}
							{/if}
						</td>
					</tr>					
					{/foreach}
					</tbody>
				</table>
				{else}
				<p>Nothing to show. <a href="{$_base}{$_module}/add" title="Add User">Add User</a></p>
				{/if}
				
			</div>

		</div>	
	
	</div>
</div>