<div class="row animated fadeInRight">
	<div class="col-md-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{$data.first_name} {$data.last_name}</h5>
				<div class="ibox-tools"><a href="{$_base}{$_module}/edit/{$data.id_user}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a></div>
			</div>
			<div>
				<div class="ibox-content no-padding border-left-right">
					
				</div>
				<div class="ibox-content profile-content">
					<img alt="image" class="img-responsive" src="{if $data.file}{$_base}uploads/user/{$data.file}{else}assets/{$_theme}/img/default.jpg{/if}">
					<h4><strong><a href="mailto:{$data.email}" title="{$data.email}" target="_blank">{$data.email}</a></strong></h4>
					{if $data.address}<p><i class="fa fa-map-marker"></i>{$data.address}</p>{/if}
					<h5>{$data.username}</h5>
			   </div>
		</div>
	</div>
		</div>
	<div class="col-md-8">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Login Activity</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				   
				</div>
			</div>
			<div class="ibox-content">

{if $data}
   <table class="table table-hover dtable" >
		<thead>
		<tr>
			<th >IP</th>
			<th>Status</th>
			<th style="width:100px;">Date</th>
		</tr>
		</thead>
		<tbody>
		{foreach from=$data item=item}
		<tr>
			<td>{$item.ip}</td>
			<td>{if $item.status eq 1}<span class="text-primary">SUCCESS</span>{elseif $status eq 2}Inactive{else}<span class="text-danger">FAIL{</span>/if}</td>
			<td>{$item.date_add}</td>
		</tr>					
		{/foreach}
		</tbody>
	</table>
	{else}
	<p>Nothing to show.</p>
	{/if}
	
</div>

			<!--          <div>
					<div class="feed-activity-list">

						<div class="feed-element">
							<a href="javascript:;" class="pull-left">
								<img alt="image" class="img-circle" src="img/a1.jpg">
							</a>
							<div class="media-body ">
								<small class="pull-right text-navy">1m ago</small>
								<strong>Sandra Momot</strong> started following <strong>Monica Smith</strong>. <br>
								<small class="text-muted">Today 4:21 pm - 12.06.2014</small>
								<div class="actions">
									<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
									<a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
								</div>
							</div>
						</div>

						<div class="feed-element">
							<a href="javascript:;" class="pull-left">
								<img alt="image" class="img-circle" src="img/profile.jpg">
							</a>
							<div class="media-body ">
								<small class="pull-right">5m ago</small>
								<strong>Monica Smith</strong> posted a new blog. <br>
								<small class="text-muted">Today 5:60 pm - 12.06.2014</small>

							</div>
						</div>

						<div class="feed-element">
							<a href="javascript:;" class="pull-left">
								<img alt="image" class="img-circle" src="img/a2.jpg">
							</a>
							<div class="media-body ">
								<small class="pull-right">2h ago</small>
								<strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>
								<small class="text-muted">Today 2:10 pm - 12.06.2014</small>
								<div class="well">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
									Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
								</div>
								<div class="pull-right">
									<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
									<a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
									<a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
								</div>
							</div>
						</div>
						<div class="feed-element">
							<a href="javascript:;" class="pull-left">
								<img alt="image" class="img-circle" src="img/a3.jpg">
							</a>
							<div class="media-body ">
								<small class="pull-right">2h ago</small>
								<strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
								<small class="text-muted">2 days ago at 8:30am</small>
								<div class="photos">
									<a target="_blank" href="http://24.media.tumblr.com/20a9c501846f50c1271210639987000f/tumblr_n4vje69pJm1st5lhmo1_1280.jpg"> <img alt="image" class="feed-photo" src="img/p1.jpg"></a>
									<a target="_blank" href="http://37.media.tumblr.com/9afe602b3e624aff6681b0b51f5a062b/tumblr_n4ef69szs71st5lhmo1_1280.jpg"> <img alt="image" class="feed-photo" src="img/p3.jpg"></a>
									</div>
							</div>
						</div>
						<div class="feed-element">
							<a href="javascript:;" class="pull-left">
								<img alt="image" class="img-circle" src="img/a4.jpg">
							</a>
							<div class="media-body ">
								<small class="pull-right text-navy">5h ago</small>
								<strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
								<small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
								<div class="actions">
									<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
									<a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
								</div>
							</div>
						</div>
						<div class="feed-element">
							<a href="javascript:;" class="pull-left">
								<img alt="image" class="img-circle" src="img/a5.jpg">
							</a>
							<div class="media-body ">
								<small class="pull-right">2h ago</small>
								<strong>Kim Smith</strong> posted message on <strong>Monica Smith</strong> site. <br>
								<small class="text-muted">Yesterday 5:20 pm - 12.06.2014</small>
								<div class="well">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
									Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
								</div>
								<div class="pull-right">
									<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
								</div>
							</div>
						</div>
						<div class="feed-element">
							<a href="javascript:;" class="pull-left">
								<img alt="image" class="img-circle" src="img/profile.jpg">
							</a>
							<div class="media-body ">
								<small class="pull-right">23h ago</small>
								<strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
								<small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
							</div>
						</div>
						<div class="feed-element">
							<a href="javascript:;" class="pull-left">
								<img alt="image" class="img-circle" src="img/a7.jpg">
							</a>
							<div class="media-body ">
								<small class="pull-right">46h ago</small>
								<strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
								<small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
							</div>
						</div>
					</div>

					<button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>

				</div> -->

			</div>
		</div>

	</div>


<div class="modal inmodal" id="change-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content animated bounceInRight">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<i class="fa fa-unlock-alt modal-icon"></i>
	<h4 class="modal-title">Change Password</h4>
</div>
<div class="modal-body">
	<form role="form" id="change_pass_form">	
		<div class="form-group">
			<label>Current Password *</label>
			<input id="password" name="old_pwd" type="password" class="form-control required" maxlength="50">
			<input type="hidden" name="id_user" value="{$data.id_user}" class="form-control required" maxlength="50">
		</div>
		<div class="form-group">
			<label>New Password *</label>
			<input name="new_pwd" type="password" class="form-control required" maxlength="50">
		</div>					
		<div class="form-group">
			<label>Confirm New Password *</label>
			<input id="confirm" name="passconf" type="password" class="form-control required" maxlength="50">
		</div>
	</form>
</div>
<div class="modal-footer" id="change_pass_footer">
	<div class="sk-spinner sk-spinner-three-bounce" style="display:none;">
		<div class="sk-bounce1"></div>
		<div class="sk-bounce2"></div>
		<div class="sk-bounce3"></div>
	</div>
	<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary change-pwd-button">Save changes</button>
</div>
</div>
</div>
</div>