<div class="row animated fadeInRight">
	<div class="col-md-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{$data.first_name} {$data.last_name}</h5>
				<div class="ibox-tools"><a href="{$_base}{$_module}/{if $data.id_user eq $_su.id_user}account/edit{else}edit/{$data.id_user}{/if}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a></div>
			</div>
			<div>
				<div class="ibox-content no-padding border-left-right">
					
				</div>
				<div class="ibox-content profile-content">
					{if $data.status eq 3}
						<span class="text-danger">INACTIVE</span>
						<div class="hr-line-dashed"></div>
					{/if}

					<h4><strong><a href="mailto:{$data.email}" title="{$data.email}" target="_blank">{$data.email}</a></strong></h4>
					<h5>{$data.username}</h5>
					{if $_su.id_user eq $data.id_user}
					<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change-password-modal">Change Password</button></p>
					{/if}

					{if $data.affiliation}<div class="hr-line-dashed"></div>
					<p><b>Affiliation</b> : {$data.affiliation}</p>{/if}
					{if $data.expertise}<div class="hr-line-dashed"></div>
					<p><b>Expertise</b> : {$data.expertise}</p>{/if}
					{if $data.contact_number}<div class="hr-line-dashed"></div>
					<p><b>Contact Number</b> : {$data.contact_number}</p>{/if}
			   </div>
		</div>
	</div>
		</div>
	<div class="col-md-8">

	</div>


<div class="modal inmodal" id="change-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content animated bounceInRight">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<i class="fa fa-unlock-alt modal-icon"></i>
			<h4 class="modal-title">Change Password</h4>
		</div>
		<div class="modal-body">
			<form role="form" id="change_pass_form">	
				<div class="form-group">
					<label>Current Password *</label>
					<input id="password" name="old_pwd" type="password" class="form-control required" maxlength="50">
					<input type="hidden" name="id_user" value="{$data.id_user}" class="form-control required" maxlength="50">
				</div>
				<div class="form-group">
					<label>New Password *</label>
					<input name="new_pwd" type="password" class="form-control required" maxlength="50">
				</div>					
				<div class="form-group">
					<label>Confirm New Password *</label>
					<input id="confirm" name="passconf" type="password" class="form-control required" maxlength="50">
				</div>
			</form>
		</div>
		<div class="modal-footer" id="change_pass_footer">
			<div class="sk-spinner sk-spinner-three-bounce" style="display:none;">
				<div class="sk-bounce1"></div>
				<div class="sk-bounce2"></div>
				<div class="sk-bounce3"></div>
			</div>
			<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary change-pwd-button">Save changes</button>
		</div>
		</div>
	</div>
</div>