<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>
					{$data|count} results found for: <span class="text-navy">“{$keyword}”</span>
				</h2>
				<small>Request time  (0.23 seconds)</small>

				<div class="search-form">
					<form action="" method="get">
						<div class="input-group">
							<input type="text" placeholder="Search for something..." name="keyword" class="form-control input-lg">
							<div class="input-group-btn">
								<button class="btn btn-lg btn-primary" type="submit">
									Search
								</button>
							</div>
						</div>

					</form>
				</div>
				{if $data}
				{foreach from=$data item=item}
				<div class="hr-line-dashed"></div>
				<div class="search-result">
					<h3><a href="#">INSPINIA IN+ Admin Theme</a></h3>
					<a href="#" class="search-link">www.inspinia.com/inspinia</a>
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
						still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
					</p>
				</div>				
				{/foreach}
				{else}
				<div class="hr-line-dashed"></div>
				<div class="search-result">
					<h3><a href="#">INSPINIA IN+ Admin Theme</a></h3>
					<a href="#" class="search-link">www.inspinia.com/inspinia</a>
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
						still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
					</p>
				</div>				
				{/if}
<!-- 
				<div class="hr-line-dashed"></div>
				<div class="text-center">
					<div class="btn-group">
						<button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>
						<button class="btn btn-white">1</button>
						<button class="btn btn-white  active">2</button>
						<button class="btn btn-white">3</button>
						<button class="btn btn-white">4</button>
						<button class="btn btn-white">5</button>
						<button class="btn btn-white">6</button>
						<button class="btn btn-white">7</button>
						<button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i> </button>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>
