<div class="ibox float-e-margins">
    <div class="ibox-content p-md">
        <h2>
        	<span class="text-navy">{$_GLOBALS.module|upper}</span>
			<button type="button" class="btn btn-success btn-w-m add pull-right" data-toggle="modal" data-target="#add-modal"><i class="fa fa-plus"></i>&nbsp;Add</button>
        </h2>


	<hr />
	{if $data}
   <table class="table table-hover dtable" >
		<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>TIN</th>
			<th width="60px;">Actions</th>
		</tr>
		</thead>
		<tbody>
		{foreach from=$data item=item}
		<tr>
			<td><a href="javascript:;">{$item.name}</a></td>
			<td>{$item.description}</td>
			<td>{$item.tins}</td>
			<td>	
				<a href="javascript:;" class="btn btn-xs btn-primary edit" data-id="{$item.id_forum_category}"><i class="fa fa-pencil"></i></a>
				<a href="javascript:;" class="btn btn-danger btn-xs delete" title="Delete" data-id="{$item.id_forum_category}" data-label="{$item.name}" data-action="delete"><i class="fa fa-trash"></i></a>
			</td>
		</tr>					
		{/foreach}
		</tbody>
	</table>
	{else}
	<p>Nothing to show.
	{/if}

    </div>
</div>


<div class="modal inmodal" id="add-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content animated bounceInRight">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<i class="fa fa-bookmark-o modal-icon"></i>
				<h4 class="modal-title">Add Category</h4>
				
			</div>
			<div class="modal-body">
				<form role="form" id="form-category">	
					<div class="form-group">
						<input type="hidden" name="data[id_forum_category]" value="0" id="m-id" />
						<input type="text" name="data[name]" placeholder="Category" class="form-control" required id="m-name" />
					</div>
					<!-- <div class="form-group">
						<input type="text" name="data[code]" placeholder="Code" class="form-control" required id="m-code" maxlength="10" />
					</div> -->
					<div class="form-group">
						<textarea class="form-control" name="data[description]" rows="5" placeholder="Description" id="m-description"></textarea>
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="category-btn" data-action="category">Save changes</button>
			</div>
		</div>
	</div>
</div>