<div class="ibox">
    <div class="ibox-content p-md">
        <h2>
        	<span class="text-navy">{$_GLOBALS.module|upper}</span>
	<button type="button" class="btn btn-success btn-w-m add pull-right" data-toggle="modal" data-target="#form-modal"><i class="fa fa-plus"></i>&nbsp;Add</button>
		</h2>
	<hr />

{if $data}
   <table class="table table-hover {if $data|count gt 50}dtable{/if}" >
		<thead>
		<tr>
			<th>Surname</th>
			<th>First Name</th>
			<th>Middle Name</th>
			<th>Suffix</th>
			<th width="90px;">Actions</th>
		</tr>
		</thead>
		<tbody>
		{foreach from=$data item=item}
		<tr>
			<td>{$item.surname}</td>
			<td>{$item.first_name}</td>
			<td>{$item.middle_name}</td>
			<td>{$item.suffix}</td>
			<!--
				Dito ka maglagay for display. dapat fixed din ung col names with $item.*
			-->
			<td>
				<a href="javascript:;" class="btn btn-xs btn-primary edit" data-id="{$item.id_client}"><i class="fa fa-pencil"></i></a>
				<a href="javascript:;" class="btn btn-danger btn-xs delete" title="Delete" data-id="{$item.id_client}" data-label="{$item.name}" data-action="delete"><i class="fa fa-trash"></i></a>
				<a href="{$_base}{$_module}/accounts/{$item.id_client}" class="btn btn-xs btn-info"><i class="fa fa-user"></i></a>
			</td>
		</tr>
		{/foreach}
		</tbody>
	</table> 
	
	{else}
	<p>Nothing to show.</p>
	{/if}

    </div>
</div>


<div class="modal inmodal" id="form-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content animated bounceInRight">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<!-- <i class="fa fa-bookmark-o modal-icon"></i> -->
				<h4 class="modal-title"><span id="modal-action">ADD</span> CLIENT</h4>
				
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<input type="hidden" name="data[id_client]" value="0" id="form-id" />
						<input type="text" name="data[client_code]" placeholder="Client Code" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[surname]" placeholder="Surname" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[first_name]" placeholder="First Name" class="form-control" required/>
					</div>
					<div class="form-group">
						<input type="text" name="data[middle_name]" placeholder="Middle Name" class="form-control" required/>
					</div>
					<div class="form-group">
						<input type="text" name="data[suffix]" placeholder="Suffix" class="form-control"/>
					</div>
					<div class="form-group">
						<input type="text" name="data[date_of_birth]" placeholder="Date of Birth (yyyy-mm-dd)" class="form-control datepicker" required  />
					</div>
					<div class="form-group">
						<input type="text" name="data[place_of_birth]" placeholder="Place of Birth" class="form-control"/>
					</div>
					<div class="form-group">
						<select name="data[sex]" class="form-control" required placeholder="Sex">
							<option value="">- Select Sex -</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</div>
					<div class="form-group">
						<select name="data[civil_status]" class="form-control" required placeholder="Civil Status">
							<option value="">- Select Civil Status -</option>
							<option value="Single">Single</option>
							<option value="Married">Married</option>
							<option value="Annulled">Annulled</option>
							<option value="Widowed">Widowed</option>
							<option value="Separated">Separated</option>
							<option value="Divorced">Divorced</option>
							<option value="Others">Others</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" name="data[citizenship]" placeholder="Citizenship" class="form-control" required />

						<!-- is it possible to make this a select? -->
					</div>
					<div class="form-group">
						<input type="text" name="data[residential_address]" placeholder="Residence Address" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[zip_code]" placeholder="Zip Code" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[telephone_number]" placeholder="Telephone Number" class="form-control" />
					</div>
					<div class="form-group">
						<input type="text" name="data[mobile_number]" placeholder="Mobile Number" class="form-control" />
					</div>
					<div class="form-group">
						<input type="text" name="data[email_address]" placeholder="Email Address" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[tax_identification_number]" placeholder="TIN" class="form-control" required />
					</div>
					

				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary save">Save changes</button>
			</div>
		</div>
	</div>
</div>