.loginscreen.middle-box {
	margin-top : 0px !important;
	width: 350px !important;
}

.middle-box {
	top : 100px;
	margin-top : 0px !important;
}

.ibox-add {
	background-color: #1c84c6 !important;
  color: #FFFFFF;
}

.ibox-edit {
	background-color: #1ab394 !important;
	color: #FFFFFF;
}

.ibox-view {
background-color: #f8ac59 !important;
  color: #FFFFFF;
}

.dropzone {
  min-height: 250px;
}

.note-dialog .modal-dialog{ z-index:1050 !important; }

.datepicker {

	z-index : 2060 !important;
}