<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element"> 
					<span><img alt="image" class="img-circle" src="{$_GLOBALS.logo}" width="48px" height="48px" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
						 <span class="text-muted text-xs block m-t-xs">
						 	<strong class="font-bold">{$_GLOBALS.user.first_name} {$_GLOBALS.user.last_name}</strong> 
						 	<b class="caret"></b>
						 </span>
					</a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a href="{$_GLOBALS.base}account">My Account</a></li>
						<li class="divider"></li>
						<li><a href="{$_GLOBALS.base}dashboard/logout">Logout</a></li>
                    </ul>
                </div>				
				<div class="logo-element">
					<img alt="image" class="img-circle" src="{$_GLOBALS.logo}" width="48px" height="48px" />
				</div>
			</li>
			<li {if $_module eq 'dashboard'}class="active"{/if}>
				<a href="{$_GLOBALS.base}" title="Dashboard"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span></a>
			</li>
			<li {if $_module eq 'sales'}class="active"{/if}>
				<a href="{$_GLOBALS.base}sales" title="Sales"><i class="fa fa-barcode"></i> <span class="nav-label">Sales</span></a>
			</li>
			<li {if $_module eq 'purchases'}class="active"{/if}>
				<a href="{$_GLOBALS.base}purchases" title="Purchases"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Purchases</span></a>
			</li>
			<li {if $_module eq 'disbursements'}class="active"{/if}>
				<a href="{$_GLOBALS.base}disbursements" title="Disbursements"><i class="fa fa-sitemap"></i> <span class="nav-label">Disbursements</span></a>
			</li>
			<li {if $_module eq 'aje'}class="active"{/if}>
				<a href="{$_GLOBALS.base}aje" title="AJE"><i class="fa fa-tasks"></i> <span class="nav-label">AJE</span></a>
			</li>
			<li {if $_method eq 'ledger'}class="active"{/if}>
				<a href="{$_GLOBALS.base}report/ledger" title="Ledger"><i class="fa fa-align-justify"></i> <span class="nav-label">Ledger</span></a>
			</li>			
			<li {if $_module eq 'report' and $_method eq 'index'}class="active"{/if}>
				<a href="{$_GLOBALS.base}report" title="Report"><i class="fa fa-area-chart"></i> <span class="nav-label">Report</span></a>
			</li>
			<li {if $_method eq 'balance_sheet'}class="active"{/if}>
				<a href="{$_GLOBALS.base}report/balance_sheet" title="Balance Sheet"><i class="fa fa-area-chart"></i> <span class="nav-label">Balance Sheet</span></a>
			</li>
			<li {if $_method eq 'income_statement'}class="active"{/if}>
				<a href="{$_GLOBALS.base}report/income_statement" title="Income Statement"><i class="fa fa-area-chart"></i> <span class="nav-label">Income Statement</span></a>
			</li>
			<li {if $_method eq 'working_paper'}class="active"{/if}>
				<a href="{$_GLOBALS.base}report/working_paper" title="Working Paper"><i class="fa fa-area-chart"></i> <span class="nav-label">Working Paper</span></a>
			</li>
			<li {if $_method eq 'cash_flow'}class="active"{/if}>
				<a href="{$_GLOBALS.base}report/cash_flow" title="Cash Flow"><i class="fa fa-area-chart"></i> <span class="nav-label">Cash Flow</span></a>
			</li>
			<li {if $_module eq 'account_titles'}class="active"{/if}>
				<a href="{$_GLOBALS.base}account_titles" title="Account Titles"><i class="fa fa-users"></i> <span class="nav-label">Account Titles</span></a>
			</li>
			<li {if $_module eq 'clients'}class="active"{/if}>
				<a href="{$_GLOBALS.base}clients" title="Clients"><i class="fa fa-users"></i> <span class="nav-label">Clients</span></a>
			</li>
			<li {if $_module eq 'client_acct'}class="active"{/if}>
				<a href="{$_GLOBALS.base}client_acct" title="Client Accounts"><i class="fa fa-users"></i> <span class="nav-label">Client Accounts</span></a>
			</li>
			<li {if $_module eq 'users'}class="active"{/if}>
				<a href="{$_GLOBALS.base}users" title="Users"><i class="fa fa-user"></i> <span class="nav-label">Users</span></a>
			</li>
			<li {if $_module eq 'settings'}class="active"{/if}>
				<a href="{$_GLOBALS.base}dashboard/settings" title="Settings"><i class="fa fa-cogs"></i> <span class="nav-label">Settings</span></a>
			</li>
			<li {if $_module eq 'ejae_client'}class="active"{/if}>
				<a href="{$_GLOBALS.base}ejae_client" title="Ejae's Clients"><i class="fa fa-cogs"></i> <span class="nav-label">Ejae's Clients</span></a>
			</li>

		</ul>
	</div>
</nav>