<div class="hr-line-dashed"></div>
<div class="form-group text-right form-footer">
	{if $_module eq 'events'}
	<a href="{$_base}projects/events/{$data.id_project}" class="btn btn-white">Cancel</a>
	{else}
	<a href="{$_base}{$_module}" class="btn btn-white">Cancel</a>
	{/if}
	{if $_module == 'references'}
	<button class="btn btn-primary save_upload" type="button" >Save changes</button>
	{else}
	<button class="btn btn-primary save" type="button" >{if $_module == 'forum'}Post{else}Save changes{/if}</button>
	{/if}
	<div class="sk-spinner sk-spinner-three-bounce pull-right" style="display:none;">
		<div class="sk-bounce1"></div>
		<div class="sk-bounce2"></div>
		<div class="sk-bounce3"></div>
	</div>	
</div>