<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>
			<form class="form-horizontal">
			    <div class="form-group">
			        <select name="change_account" class="form-control pull-right" id="change-account">
			        	<option value=""> - SELECT ACCOUNT - </option>
			        	{foreach from=$ddl_client item=item}
			        	<option value="{$item.id_client}" {if $_GLOBALS.account.id_client eq $item.id_client}selected="selected"{/if}>{$item.name}</option>
			        	{/foreach}
			        </select>
			    </div>
			</form>
		</h2>
	</div>
</div>