<div class="col-md-4">
	{if $projects}
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Projects</h5>
			<div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></div>
		</div>
		<div class="ibox-content no-padding">
			<ul class="list-group">
				{foreach from=$projects item=item}
				<li class="list-group-item"  {if $item.id_project eq $project.id_project}style="background-color:#C2E0FF"{/if}>
					<span class="badge badge-info">{$item.count}</span>
					<a href="{$_base}{$_module}/index/{$item.id_project}" >{$item.name}</a>
				</li>
				{/foreach}					
			</ul>
		</div>
	</div>
	{/if}
</div>