<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="javascript:;"><i class="fa fa-bars"></i> </a>
			<!-- <form role="search" class="navbar-form-custom" action="search_results.html">
			    <div class="form-group">
			        <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
			        <select name="" class="form-control">
			        	<option value="">SELECT ACCOUNT</option>
			        	{foreach from=$ddl_client item=item}
			        	<option value="{$item.id_client}">{$item.name}</option>
			        	{/foreach}
			        </select>
			    </div>
			</form> -->
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<span class="m-r-sm text-muted welcome-message">Welcome to {$_sitename}, {$_GLOBALS.user.username}</span>
			</li>
			<li>
				<a href="{$_base}account/logout">
					<i class="fa fa-sign-out"></i> Log out
				</a>
			</li>
		</ul>

	</nav>
</div>