<span style='color: #000'>538 frames</span>	<span style='color: #900'>16,640 KB</span>	<span style='color: #090'>1,386.94 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />