<div class="ibox">
    <div class="ibox-content p-md">
        <h2>
        	<span class="text-navy">{$_GLOBALS.module|upper} :: Annual Total Purchases</span>
        	<small class="pull-right">{$_GLOBALS.account.name}</small>
        </h2>

		<form class="form-horizontal" role="form" action="" method="post">
			<select name="filter[year]" >
				<option value=""> - YEAR - </option>
				{for $i=2015 to $smarty.now|date_format:"%Y"+1}
				<option value="{$i}" {if $filter.year eq $i}selected="selected"{/if}>{$i}</option>
				{/for}
			</select>
			<input type="submit" class="btn btn-success btn-xs" value="GO" />
		</form>        
		<hr />

<div class="row">
	<div class="col-md-4">
		<h3>Supplies Purchases</h3>
		<div class="table-container">
		   <table class="table table-hover" >
				<thead>
				<tr>
					<th>Month</th>
					<th>Purchases</th>
					<th>Input % Dr</th>
					<th>Cash Dr</th>
				</tr>
				</thead>
				<tbody>
				{for $i=1 to 12}
				<tr>
					<td>{"1970/$i/01"|date_format:"%B"}</td>
					<td>{$item.dr|number_format:"2":".":","}</td>
					<td>{$item.cr|number_format:"2":".":","}</td>
					<td>{$item.comments}</td>
				</tr>					
				{/for}
				</tbody>
				<tfoot>
				<tr>
					<th>TOTAL</th>
					<th>{$total.services_cr|number_format:"2":".":","}</th>
					<th>{$total.output_percent_cr|number_format:"2":".":","}</th>
					<th>{$total.cash_dr|number_format:"2":".":","}</th>
				</tr>			
				</tfoot>
			</table> 
		</div>
	</div>

	<div class="col-md-4">
		<h3>Cost of Services</h3>
		<div class="table-container">
		   <table class="table table-hover" >
				<thead>
				<tr>
					<th>Month</th>
					<th>Purchases</th>
					<th>Input % Dr</th>
					<th>Cash Dr</th>
				</tr>
				</thead>
				<tbody>
				{for $i=1 to 12}
				<tr>
					<td>{"1970/$i/01"|date_format:"%B"}</td>
					<td>{$item.dr|number_format:"2":".":","}</td>
					<td>{$item.cr|number_format:"2":".":","}</td>
					<td>{$item.comments}</td>
				</tr>					
				{/for}
				</tbody>
				<tfoot>
				<tr>
					<th>TOTAL</th>
					<th>{$total.services_cr|number_format:"2":".":","}</th>
					<th>{$total.output_percent_cr|number_format:"2":".":","}</th>
					<th>{$total.cash_dr|number_format:"2":".":","}</th>
				</tr>			
				</tfoot>
			</table>  
		</div>
	</div>

	<div class="col-md-4">
		<h3>Total Purchases</h3>
		<div class="table-container">
		   <table class="table table-hover" >
				<thead>
				<tr>
					<th>Month</th>
					<th>Purchases</th>
					<th>Input % Dr</th>
					<th>Cash Dr</th>
				</tr>
				</thead>
				<tbody>
				{for $i=1 to 12}
				<tr>
					<td>{"1970/$i/01"|date_format:"%B"}</td>
					<td>{$item.dr|number_format:"2":".":","}</td>
					<td>{$item.cr|number_format:"2":".":","}</td>
					<td>{$item.comments}</td>
				</tr>					
				{/for}
				</tbody>
				<tfoot>
				<tr>
					<th>TOTAL</th>
					<th>{$total.services_cr|number_format:"2":".":","}</th>
					<th>{$total.output_percent_cr|number_format:"2":".":","}</th>
					<th>{$total.cash_dr|number_format:"2":".":","}</th>
				</tr>			
				</tfoot>
			</table> 
		</div>		
	</div>
</div>

    </div>
</div>
