<div class="ibox">
    <div class="ibox-content p-md">
        <h2>
        	<span class="text-navy">{$_GLOBALS.module|upper} :: Working Paper</span>
        	<small class="pull-right">{$_GLOBALS.account.name}</small>
        </h2>

		<form class="form-horizontal" role="form" action="" method="post">
			<select name="filter[year]" >
				<option value=""> - YEAR - </option>
				{for $i=2015 to $smarty.now|date_format:"%Y"+1}
				<option value="{$i}" {if $filter.year eq $i}selected="selected"{/if}>{$i}</option>
				{/for}
			</select>
			<input type="submit" class="btn btn-success btn-xs" value="GO" />
		</form>        
		<hr />

		<div class="table-container">
		   <table class="table table-hover {if $data|count gt 50}dtable{/if} table-responsive" >
				<thead>
				<tr>
					<th colspan="2" class="text-center">ACCOUNT</th>
					<th colspan="2">Balance {if $filter.year gt 0}{$filter.year-1}{/if}</th>
					<th colspan="2">Transactions</th>
					<th colspan="2">Adjustments</th>
					<th colspan="2">Income Statement</th>
					<th colspan="2">Balance Sheet</th>

				</tr>
				<tr>
					<th>Number</th>
					<th>Title</th>
					<th>Dr</th>
					<th>Cr</th>
					<th>Dr</th>
					<th>Cr</th>
					<th>Dr</th>
					<th>Cr</th>	
					<th>Dr</th>
					<th>Cr</th>
					<th>Dr</th>
					<th>Cr</th>
				</tr>
				</thead>
				<tbody>
				{foreach from=$chart_of_acct item=item}
				<tr>
					<td>{$item.account_num}</td>
					<td>{$item.title}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>					
				{/foreach}
				</tbody>
				<tfoot>
				<tr>
					<th>TOTAL</th>
					<th>&nbsp;</th>
					<th>Dr</th>
					<th>Cr</th>
					<th>Dr</th>
					<th>Cr</th>
					<th>Dr</th>
					<th>Cr</th>	
					<th>Dr</th>
					<th>Cr</th>
					<th>Dr</th>
				</tr>			
				</tfoot>
			</table>
		</div>
    </div>
</div>
