<div class="ibox">
    <div class="ibox-content p-md">
        <h2>
        	<span class="text-navy">{$_GLOBALS.module|upper}</span>
	<button type="button" class="btn btn-success btn-w-m add pull-right" data-toggle="modal" data-target="#form-modal"><i class="fa fa-plus"></i>&nbsp;Add</button>
		</h2>
	<hr />

{if $data}
   <table class="table table-hover {if $data|count gt 50}dtable{/if}" >
		<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>TIN</th>
			<th width="90px;">Actions</th>
		</tr>
		</thead>
		<tbody>
		{foreach from=$data item=item}
		<tr>
			<td>{$item.name}</td>
			<td>{$item.type}</td>
			<td>{$item.tin}</td>
			<!--
				Dito ka maglagay for display. dapat fixed din ung col names with $item.*
			-->
			<td>
				<a href="javascript:;" class="btn btn-xs btn-primary edit" data-id="{$item.id_client}"><i class="fa fa-pencil"></i></a>
				<a href="javascript:;" class="btn btn-danger btn-xs delete" title="Delete" data-id="{$item.id_client}" data-label="{$item.name}" data-action="delete"><i class="fa fa-trash"></i></a>
				<a href="{$_base}{$_module}/accounts/{$item.id_client}" class="btn btn-xs btn-info"><i class="fa fa-user"></i></a>
			</td>
		</tr>
		{/foreach}
		</tbody>
	</table> 
	
	{else}
	<p>Nothing to show.</p>
	{/if}

    </div>
</div>


<div class="modal inmodal" id="form-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content animated bounceInRight">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<!-- <i class="fa fa-bookmark-o modal-icon"></i> -->
				<h4 class="modal-title"><span id="modal-action">ADD</span> CLIENT</h4>
				
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<input type="hidden" name="data[id_client]" value="0" id="form-id" />
						<input type="text" name="data[name]" placeholder="Client" class="form-control" required />

						<!--

						Client here should come from a list of Client object

						-->
					</div>
					<div class="form-group">
						<input type="text" name="data[business_trade_name]" placeholder="Business Trade Name" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[client_account_code]" placeholder="Client Account Code" class="form-control" />
					</div>
					<div class="form-group">
						<select name="data[taxpayer_type]" class="form-control" required placeholder="Taxpayer Type">
							<option value="">- Select Taxpayer Type -</option>
							<option value="Sole Proprietorship">Sole Proprietorship</option>
							<option value="Corporation">Corporation</option>
							<option value="Partnership">Partnership</option>
							<option value="Employed">Employed</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" name="data[taxpayer_name]" placeholder="Taxpayer Name" class="form-control" required />
					</div>
					<div class="form-group">
						<select name="data[tax_type]" class="form-control" required placeholder="Tax Type">
							<option value="">- Select Tax Type -</option>
							<option value="VAT">VAT</option>
							<option value="NON-VAT">NON-VAT</option>
						</select>
					</div>
					<div class="form-group">
						<select name="data[office_type]" class="form-control" required placeholder="Office Type">
							<option value="">- Select Office Type -</option>
							<option value="Head Office">Head Office</option>
							<option value="Branch">Branch</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" name="data[date_of_registration]" placeholder="Date of Registration (yyyy-mm-dd)" class="form-control datepicker" required  />
					</div>
					<div class="form-group">
						<input type="text" name="data[date_of_incorporation]" placeholder="Date of Incorporation (yyyy-mm-dd)" class="form-control datepicker"  />
					</div>
					<div class="form-group">
						<input type="text" name="data[tin]" placeholder="TIN" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[rdo_code]" placeholder="RDO Code" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[line_of_business_or_occupation]" placeholder="Line of Business or Occupation" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[code_psoc]" placeholder="PSOC Code" class="form-control"  />
					</div>
					<div class="form-group">
						<input type="text" name="data[code_psic]" placeholder="PSIC Code" class="form-control"  />
					</div>
					<div class="form-group">
						<select name="data[facility_type_pp]" placeholder="Facility Type: Place of Production" class="form-control "  />
							<option value="">- Facility Type: Place of Production -</option>
							<option value="Yes">Place of Production: Yes</option>
							<option value="No">Place of Production: No</option>
						</select>
					</div>
					<div class="form-group">
						<select name="data[facility_type_sp]" placeholder="Facility Type: Storage Place" class="form-control "  />
							<option value="">- Facility Type: Storage Place -</option>
							<option value="Yes">Storage Place: Yes</option>
							<option value="No">Storage Place: No</option>
							</select>
					</div>
					<div class="form-group">
						<select name="data[facility_type_wh]" placeholder="Facility Type: Warehouse" class="form-control "  />
							<option value="">- Facility Type: Warehouse -</option>
							<option value="Yes">Warehouse: Yes</option>
							<option value="No">Warehouse: No</option>
							</select>
					</div>
					<div class="form-group">
						<input type="text" name="data[num_of_facilities]" placeholder="Number of Facilities" class="form-control"  />
					</div>



					<div class="form-group">
					<!--
						For every field, gawa ka ng bagong div.
						same dapat si  data[*] kay column name for table
					-->

						<input type="text" name="data[registered_address]" placeholder="Registered Address" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[zipcode]" placeholder="Zip Code" class="form-control" required />
					</div>
					

				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary save">Save changes</button>
			</div>
		</div>
	</div>
</div>