<div class="ibox">
    <div class="ibox-content p-md">
        <h2>
        	<span class="text-navy">{$_GLOBALS.module|upper}</span>
	<button type="button" class="btn btn-success btn-w-m add pull-right" data-toggle="modal" data-target="#form-modal"><i class="fa fa-plus"></i>&nbsp;Add</button>
		</h2>
	<hr />

{if $data}
   <table class="table table-hover {if $data|count gt 50}dtable{/if}" >
		<thead>
		<tr>
			<th>Account Title</th>
			<th>DR / CR/th>
			<th width="90px;">Actions</th>
		</tr>
		</thead>
		<tbody>
		{foreach from=$data item=item}
		<tr>
			<td>{$item.acct_title}</td>
			<td>{$item.dr_cr}</td>
			<!--
				Dito ka maglagay for display. dapat fixed din ung col names with $item.*
			-->
			<td>
				<a href="javascript:;" class="btn btn-xs btn-primary edit" data-id="{$item.id_acct_titles}"><i class="fa fa-pencil"></i></a>
				<a href="javascript:;" class="btn btn-danger btn-xs delete" title="Delete" data-id="{$item.id_acct_titles}" data-label="{$item.name}" data-action="delete"><i class="fa fa-trash"></i></a>
				<a href="{$_base}{$_module}/accounts/{$item.id_acct_titles}" class="btn btn-xs btn-info"><i class="fa fa-user"></i></a>
			</td>
		</tr>
		{/foreach}
		</tbody>
	</table> 
	
	{else}
	<p>Nothing to show.</p>
	{/if}

    </div>
</div>


<div class="modal inmodal" id="form-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content animated bounceInRight">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<!-- <i class="fa fa-bookmark-o modal-icon"></i> -->
				<h4 class="modal-title"><span id="modal-action">ADD</span> ACCOUNT TITLE</h4>
				
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<input type="hidden" name="data[id_acct_titles]" value="0" id="form-id" />
						<input type="text" name="data[acct_title]" placeholder="Account Title" class="form-control" required />
					</div>
					<div class="form-group">
						<input type="text" name="data[dr_cr]" placeholder="DR / CR" class="form-control" required />
					</div>
					
					

				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary save">Save changes</button>
			</div>
		</div>
	</div>
</div>